html {
  font-size: 14px;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

main {
  flex: 1 0 auto;
  padding-bottom: 2rem;
}

.footer {
  flex-shrink: 0;
  margin-top: 2rem;
  background: #f8f9fa;
  border-top: 1px solid #e5e5e5;
  line-height: 1.5;
}

.profile-photo {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.placeholder.profile-photo {
  width: 160px;
  height: 160px;
}